.work-container {
  overflow: hidden;
}

.work-container .projects-intro {
  padding: 0 1rem 4rem 1rem;
  position: relative;
}
.work-container .projects-intro h1 {
  margin: 1rem 0;
  font-size: 3.2rem;
  color: var(--darkBlue);
  font-weight: 800;
}

.work-container .projects-intro p {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--darkGrey);
}

.work-container .projects-intro .sort-btns-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;

  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.2rem;
  border: 1px solid var(--lightGrey);
  color: var(--darkGrey);
  border-radius: 6px;
  max-width: 440px;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.work-container .projects-intro .scroll-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: 0;
  outline: 0;
  background-color: inherit;
  cursor: pointer;
  padding: 0;

  animation: upAndDown 1.5s ease-in-out infinite;
}
@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

.work-container .projects-intro .scroll-btn .down-arrow {
  fill: var(--darkGrey);
  transition: all 0.3s;
}

.work-container .projects-list {
  overflow-x: hidden;
}

@media all and (min-width: 425px) {
  .projects-intro p {
    font-size: 1.5rem !important;
    color: var(--darkGrey);
  }

  .projects-intro .sort-btns-group {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
}

@media all and (min-width: 576px) {
  .projects-intro {
    padding-bottom: 4.5rem;
  }
  .projects-intro h1 {
    text-align: center;
    font-size: 4rem;
  }

  .projects-intro p {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.7rem;
  }

  .projects-intro .sort-btns-group {
    font-size: 1rem;
  }
}
