.home-featured-projects-content {
  padding: 1rem 2rem;
  max-width: 1800px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin: 1rem 0 0 0;
  width: 100%;
}
h2::after {
  content: ".";
  color: var(--darkBlue);
}

h3 {
  display: inline-block;
  margin: 0.5rem 0;
  color: var(--white);
  transition: color 0.3s ease-in-out;
  font-size: 1.3rem;
}
h3:hover {
  color: var(--lightBlue);
}

p {
  margin: 0.5rem 0;
  color: var(--white);
}

.all-works-btn {
  max-width: 135px;
  margin: 0 auto;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-project-card {
  margin: 2rem auto;
  background-color: var(--darkGrey);
  max-width: 480px;
  transition: all 0.3s ease-in-out;
}
.featured-project-card img {
  display: block;
}

.featured-project-card .project-card-text {
  padding: 0.8rem 1rem;
}

.featured-project-card:hover {
  transform: translateY(-5px) translateX(-5px);
  bottom: 0.5rem;
  box-shadow: 0.5rem 0.5rem var(--lightBlue);
  right: 0.5rem;
}

@media all and (min-width: 450px) {
  h2 {
    font-size: 2.5rem;
  }
}

@media all and (min-width: 768px) {
  h2 {
    font-size: 3rem;
  }
}

@media all and (min-width: 1024px) {
  .home-featured-projects-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
  .home-featured-projects-content h2 {
    grid-column: 1 / 4;
  }

  .home-featured-projects-content .all-works-btn {
    grid-column: 1 / 4;
  }
}
