/* styling for general project thumbnail */
.project-thumbnail {
  padding: 3rem 1rem;

  overflow-x: hidden;
}

.project-thumbnail .thumbnail-wrapper {
  position: relative;
}

.project-thumbnail h2 {
  margin: 0.5rem 0 0 0;
  font-size: 2rem;
  font-weight: bold;
}

.project-thumbnail img {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 650px;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  transition: all 0.3s ease-in-out;
}

.project-thumbnail img:hover {
  transform: scale(1.02);
}

.project-thumbnail .tools-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.project-thumbnail .tools-list li {
  margin-top: 0.3rem;
  margin-right: 0.5rem;
  padding: 0 0.3rem;
  border: 2px solid var(--darkGrey);
  font-size: 0.75rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border-radius: 6px;
}

.project-thumbnail .action-buttons a {
  margin-right: 0.5rem;
  border-bottom: 4px solid var(--darkGrey);
  color: var(--darkGrey);
  transition: border 0.3s ease-in-out;
}
.project-thumbnail .action-buttons a.more-info {
  border-color: var(--orange);
}

.project-thumbnail .action-buttons a:hover,
.project-thumbnail .action-buttons a:focus {
  border-color: var(--lightBlue);
}

.project-thumbnail .thumbnail-text {
  margin-top: 2rem;
}

/* switch thumbnail img and text position (text->left, img->right) for even thumbnail projects */
.project-thumbnail:nth-of-type(2n) .thumbnail-text {
  order: -1;
}

@media all and (min-width: 576px) {
  .project-thumbnail {
    padding: 3rem 2rem;
  }
}

@media all and (min-width: 768px) {
  .project-thumbnail {
    padding: 4rem 2rem;
  }

  .thumbnail-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  img {
    max-width: 550px;
  }

  h2 {
    font-size: 2.2rem !important;
    max-width: none;
  }

  .thumbnail-text {
    width: 40%;
    margin-top: 0;
  }

  .project-thumbnail-image {
    width: 50%;
  }
}

@media all and (min-width: 1024px) {
  h2 {
    font-size: 2.5rem !important;
  }
}

@media all and (min-width: 1400px) {
  .thumbnail-wrapper {
    max-width: 1300px;
  }

  img {
    max-width: 600px;
  }
}

/* ***** ------ CUSTOM STYLING BASED ON PROJECT ------ ***** */
/* styling specific for project snack world thumbnail */
.project-thumbnail-snackWorld {
  background-color: #f5f5f5;
}

.project-thumbnail-snackWorld h2,
p,
li {
  color: var(--darkGrey);
}

.project-thumbnail-snackWorld .tools-list li {
  border-color: var(--mainDark);
}

.project-thumbnail-snackWorld .action-buttons a {
  color: var(--mainDark);
  border-color: var(--mainDark);
  transition: border 0.3s ease-in-out;
}
.project-thumbnail-snackWorld .action-buttons:hover,
.project-thumbnail-snackWorld .action-buttons:focus {
  border-color: #ddb829;
}
/* styling specific for project recipesApp thumbnail */
.project-thumbnail-recipesApp {
  background-color: #0f182b;
}
.project-thumbnail-recipesApp h2 {
  color: var(--white);
}

.project-thumbnail-recipesApp p {
  color: var(--white);
}

.project-thumbnail-recipesApp .tools-list {
  color: var(--white);
}

.project-thumbnail-recipesApp .tools-list li {
  border-color: var(--white);
  color: var(--white);
}

.project-thumbnail-recipesApp .action-buttons a {
  color: var(--white);
  border-color: var(--white);
  transition: border 0.3s ease-in-out;
}
.project-thumbnail-recipesApp .action-buttons a:hover,
.project-thumbnail-recipesApp .action-buttons a:focus {
  border-color: #ef233c;
}

/*  styling specific for project Portfolio thumbnail */
.project-thumbnail-portfolio {
  background-color: #eddcd2;
}

/* styling specific for project weather app thumbnail */
.project-thumbnail-weather-app {
  background-color: #edf2fb;
}

/*  styling specific for project MyEvent thumbnail */
.project-thumbnail-myevent {
  background-color: #72ff56;
}


