.single-project-slider {
  margin: 2rem 0;
  background-color: var(--lightGrey);
  padding: 1rem;
}
h2 {
  text-align: center;
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  color: var(--darkGrey);
}

p {
  max-width: 750px;
  margin: 1rem auto;
}

.carousel-root {
  max-width: 700px;
  margin: 0 auto;
}

img {
  display: block;
  border-radius: 10px;
}

.carousel .control-dots {
  margin: 0;
}

.carousel .control-dots .dot {
  box-shadow: none;
  background-color: var(--darkBlue);
}

.carousel .control-next.control-arrow:before {
  border-left-color: var(--darkGrey);
}

.carousel .control-prev.control-arrow:before {
  border-right-color: var(--darkGrey);
}

@media all and (min-width: 576px) {
  .carousel .control-dots {
    margin: 0.5rem 0;
  }

  h2 {
    font-size: 2.3rem;
  }
}

@media all and (min-width: 768px) {
  h2 {
    font-size: 3rem;
  }
}
