h1 {
  text-align: center;
  padding: 0 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0;
  color: var(--darkBlue);
}

h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.banner-wrapper {
  background-color: #fbf5f3;
  padding: 1rem;
}
.banner-wrapper .banner-img {
  display: block;
  max-width: 65%;
  margin: 0 auto;
}

/* styling for responsive images */
@media all and (min-width: 500px) {
  .banner-img {
    width: 100%;
    max-width: 850px;
  }
}

.overview-wrapper {
  padding: 0 1rem;
  max-width: 1100px;
  margin: 0 auto;
}

.external-links {
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
}
a:last-of-type {
  margin-right: 0;
}

.dev-stack-wrapper ul {
  max-width: 350px;
}

.duration-wrapper p {
  margin: 0;
}

.info-grid {
  padding: 0 1rem;
  max-width: 1100px;
  margin: 0 auto;
}
.info-grid h3 {
  font-size: 1.2rem;
}

.planning-info {
  padding: 0 1rem;
  max-width: 1100px;
  margin: 0 auto;
}
.planning-info .planning-block {
  margin: var(--baseSpacing 0);
  padding: var(--baseSpacing 0);
}
.planning-info .planning-block h3 {
  text-align: center;
}

.design-info {
  padding: 0 1rem;
  max-width: 1100px;
  margin: 0 auto;
}
.design-info .design-block {
  margin: var(--baseSpacing 0);
  padding: var(--baseSpacing 0);
}
.design-info .design-block h3 {
  text-align: center;
}

.design-external-link {
  min-width: 190px;
}

.development-info {
  padding: 0 1rem;
  max-width: 1100px;
  margin: 0 auto;
}
.development-info .development-block {
  margin: var(--baseSpacing 0);
  padding: var(--baseSpacing 0);
}
.development-info .development-block h3 {
  text-align: center;
}

img.block-img {
  max-width: 650px;
  display: block;
  margin: var(--mediumSpacing auto);
  width: 100%;
}

.reflection-info {
  padding: 0 1rem;
  max-width: 1100px;
  margin: 0 auto;
}

@media all and (min-width: 576px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  .external-links a {
    margin-right: 2rem;
  }

  .dev-stack-wrapper ul {
    display: flex;
    flex-wrap: wrap;
  }

  .dev-stack-wrapper li {
    margin-right: 1rem;
  }

  .info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}

@media all and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }

  .info-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media all and (min-width: 1024px) {
  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 1.9rem;
  }

  .development-info .development-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: var(--doubleSpacing 0);
  }
  .development-info .development-block h3 {
    margin-top: 0;
    text-align: left;
  }

  .development-info .development-block img {
    margin: 0;
    padding: 0 0 0 3rem;
    max-width: 600px;
    align-self: flex-start;
  }
}
