.single-project-nav {
  display: flex;
  justify-content: space-between;

  max-width: 1000px;
  margin: 2rem auto;
}
.single-project-nav a {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  min-width: 120px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.single-project-nav a:hover {
  transform: translateY(-4px);
  color: var(--darkBlue);
}

svg {
  font-size: 2rem;
  vertical-align: middle;
}

@media all and (min-width: 576px) {
  a {
    font-size: 1.3rem;
  }

  svg {
    font-size: 2.5rem;
  }
}
