footer {
  text-align: center;
  padding: 1rem 0;
  background-color: var(--lightGrey);
  color: var(--darkGrey);
}
footer p {
  margin-bottom: 0;
  font-size: 1rem;
}

footer .footer-icon {
  color: var(--darkGrey);
  margin: 0 1rem;
  font-size: 1.7rem;
  transition: all 0.3s;
}
footer .footer-icon:hover {
  color: var(--darkBlue);
}

@media (min-width: 576px) {
  .footer-icon {
    font-size: 2rem;
    margin: 0 1.3rem;
  }
}
