header {
  position: relative;
}

.top-bar {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 0;

  visibility: hidden;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(51, 102, 153) !important;
  background: rgba(51, 102, 153, 0.95) !important;
  background: rgba(51, 102, 153, 0.95) !important;
  backdrop-filter: blur(5px);

  z-index: 9;
}
.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-nav ul li {
  margin: 2rem 0;
}

.main-nav a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.75) !important;
  font-weight: 800;
  font-size: 2.6rem;
  transition: color 0.3s ease-in-out;
  font-family: "Poppins", sans-serif;
}

.main-nav a.active {
  color: var(--darkBlue) !important;
}

.main-nav .nav-social-media a {
  margin: 0 0.5rem;
}

header.active .main-nav {
  height: 100%;
  visibility: visible;
}
header.active .main-nav a.active {
  color: rgba(255, 255, 255, 0.75) !important;
}

header.active .main-nav a:hover {
  color: rgba(255, 255, 255, 1) !important;
}

header .header-logo-container img {
  width: 40px;
  height: 40px;
  display: block;
}

.btn-main-nav {
  z-index: 10;
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

header.active .btn-main-nav {
  position: fixed;
  right: 1rem;
}

.closeIcon {
  fill: var(--white);
}

svg {
  transition: all 0.7s ease-in-out;
}

@media all and (min-width: 576px) {
  .header-logo-container img {
    margin-left: 1rem;
  }

  .btn-main-nav {
    display: none;
  }

  .main-nav {
    visibility: visible;
    transition: none;
    height: auto;
    width: auto;
    background-color: inherit !important;
    position: relative;
  }
  .main-nav ul {
    display: flex;
  }
  .main-nav ul li {
    margin: 0 1rem;
  }

  .main-nav a {
    color: var(--darkGrey) !important;
    font-weight: 600;
    font-size: 1.2rem;
    position: relative;
  }

  .main-nav a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: var(--darkBlue);
    transition: width 0.35s ease-in-out;
  }

  .main-nav a:hover::before {
    width: 100%;
  }

  .main-nav .nav-social-media {
    display: none;
  }
}
